/* Disable the post title field completely */
.editor-post-title,
.editor-post-title__block,
.editor-post-title__input,
.wp-block-post-title {
	pointer-events: none !important;
	user-select: none !important;
	cursor: not-allowed !important;
	opacity: .5;
	
	span {

		&::after {
			content: "Person Name" !important;
		}
	}
}
