/* Disable the post title field completely */
.wp-block-post-title {
	pointer-events: none !important;
	user-select: none !important;
	cursor: not-allowed !important;
	
	span {

		&::after {
			content: "Person Name" !important;
		}
	}
}
